* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: "Barlow Condensed", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 10px;*/
    flex-wrap: wrap; /* Allow items to wrap */
    font-size: 25px;

}

.navbar img {
    /* max-height: 50px; */
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.navbar a {
    color: #2e2e2e;
    text-decoration: none;
    transition:all 0.3s ease 0s;
}

.navbar a:hover{
    color:#cad2c5;
}
.navbar ul {
    display: flex;
    list-style: none;
    
}

.navbar li {
    padding: 0 10px;
    
}

/* Media query for responsiveness */
@media only screen and (min-width: 768px) {
    .navbar {
        flex-wrap: nowrap; /* Prevent items from wrapping */
    }

    .navbar li {
        padding: 0 20px; /* Increase padding for larger screens */
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main {
    font-family: "Barlow Condensed", sans-serif;
    color: #2e2e2e;
    padding: 30px;
    height: 100vh;
    background-color: #6fdcbf;
    position: relative;
    overflow: hidden;
}



.main h1{
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 0px;
    text-align: left;
    font-size: 200px;
    font-weight: 900;
}


.main p{
    text-align: justify;
    font-size: 35px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 400px;
}

.aboutme{
    background-color: #2e2e2e;
    height: 100vh;
}

.aboutme p{
    font-family: "Barlow Condensed",sans-serif;
    color: #6fdcbf;
    font-size: 35px;
    font-weight: 800;
    padding: 80px;
    margin:0;
}

.skills{
    font-family:"Barlow Condensed",sans-serif;
    height:100vh;
    padding: 30px;
    text-align: center;
    color:#2e2e2e;
    background-color: #6fdcbf;

}

.skills h1{
    font-size: 70px;
    font-weight: 900;
}

.skills ul{
    display: flex;
    justify-content: center;
    padding: 200px;
}

.skills li{
    list-style:none;
    padding: 30px;
    font-size: 50px;
    font-weight: 700;
}

.projects{
    font-family: "Barlow Condensed",sans-serif;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #2e2e2e;
}

.copyright{
    margin:0;
    padding:0;
    color: #6fdcbf;
}

footer{
    background-color:#2e2e2e;
    font-family: "Barlow Condensed",sans-serif;
}

footer ul{
   display:flex;
   justify-content: center;
}
footer a{
    text-decoration: none;
    color:#6fdcbf;
}
footer li{
    list-style:none;
    padding:10px;
    padding-bottom: 1px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background:#2e2e2e; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#cad2c5; /* Color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#b1b8ad; /* Color of the handle on hover */
}

  
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
  }
  
  body .container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  body .container .card:nth-child(1) .box .content a {
    background:#cad2c5;
  }
  
  body .container .card:nth-child(2) .box .content a {
    background:#cad2c5;
  }
  
  body .container .card:nth-child(3) .box .content a {
    background:#cad2c5;
  }
  
  body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #6fdcbf;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  body .container .card .box:hover {
    transform: translateY(-50px);
  }
  
  body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
  }
  
  body .container .card .box .content {
    padding: 20px;
    text-align: center;
    color:#2e2e2e;
  }
  
  body .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
  }
  
  body .container .card .box .content h3 {
    font-size: 1.8rem;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
  }
  
  body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 700;
    z-index: 1;
    transition: 0.5s;
  }
  
  body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: #2e2e2e;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
  }

.slider{
    background-color: #6fdcbf !important;
    display:inline-block;
    padding: 130px;
    padding-left: 280px;
    text-align: center;
    position: relative;
    animation: slideColor 8s forwards infinite;
}

.caption{
    line-height: 100px;
    font-size: 60px;
    font-weight: 600;
    color: #2e2e2e;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 5px 5px rgba(0,0,0,.25);
    margin-left: -300px;
}

.text-box{
    display: inline-block;
    position: relative;
}

.text-box div{
    display: inline-block;
    position: absolute;
    top: -200px;
    transform: rotateX(-90deg);
    opacity: 0;
    text-shadow: 0px 5px 5px rgba(0,0,0,.25);
    animation-timing-function: ease;
}

.text-box div:nth-child(1){
    animation: rollDown 10s forwards infinite;
}

.text-box div:nth-child(2){
    animation: rollDown2 10s forwards infinite;
}

.text-box div:nth-child(3){
    animation: rollDown3 10s forwards infinite;
}

@keyframes rollDown {
    0%{
        top: -200px;
        transform: rotateX(-90deg);
    }
    11%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    22%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    33%{
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes rollDown2 {
    33%{
        top: -200px;
        transform: rotateX(-90deg);
    }
    44%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    55%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    66%{
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes rollDown3 {
    66%{
        top: -200px;
        transform: rotateX(-90deg);
    }
    77%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    88%{
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }
    99%{
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes slideColor{
    0%{
        background-color: #387780;
    }
    33%{
        background-color: #3f88c5;
    }
    66%{
        background-color: #588b8b;
    }
    100%{
        background-color: #387780;
    }
}


@media (max-width: 767px) {
 

  body {
    overflow-x: hidden;
  }

  .navbar{
    font-size: 17px;
  }

  .main {
    padding: 15% 5%; 
    height: auto; 
    text-align: left; 
  }

  .main h1 {
    font-size: 30vw; 
    margin-top: 70%; 
  }

  .slider {
    padding: 50% 5%; 
    margin-left: 230px;
    font-size: 10vw;
  }

  .text-box div {
    top: 0; 
  }

  .container {
    max-width: 100%; 
    margin: auto;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    overflow: hidden;
  }

  .card {
    width: calc(45% - 20px);
    margin: 10px;
  }

  .projects {
    padding: 5% 5% 10% 3%; 
    height: auto; 
  }

  .aboutme p {
    font-size: 5vw; 
    padding: 5% 5% 10%; 
    margin: 0; 
    text-align: justify; 
  }

  .contactme footer {
    padding: 2% 5%; 
  }

  .skills h1 {
    font-size: 8vw;
    text-align: center; 
  }

  .skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 5px;
    font-size: 8vw; 
  }

  .skills li {
    list-style: none;
    padding: 10px;
    text-align: center; 
    width: 100%; 
  }


  .slider .caption {
    font-size: 10vw; }
}

